APP_NAME=Laravel
APP_ENV=production
APP_KEY=base64:+DrknXBGDH3Byzylwk0OYxpZNs+913xHwCtF4o5AjDs=
APP_DEBUG=false
APP_URL="http://anandam.admirestays.in"

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=anandam
DB_USERNAME=forge
DB_PASSWORD="BOZSRLD11gMFJU31Ymqc"

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=""
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS=null
MAIL_FROM_NAME=""

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=

EGLOBE_API_KEY=vs6Z7v0s5Cytweiu5Ybo
EGLOBE_API_KEY2=vs6Z7v0s5Cytweiu5Ybo

PUSHER_APP_ID=
PUSHER_APP_KEY=base64:xuuvI/BSaD5/86HO/p4zkIK1suGlj0QQbOvDySaFnao=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

VITE_PUSHER_APP_KEY=base64:xuuvI/BSaD5/86HO/p4zkIK1suGlj0QQbOvDySaFnao=
VITE_PUSHER_HOST=""
VITE_PUSHER_PORT=""
VITE_PUSHER_SCHEME=""
VITE_PUSHER_APP_CLUSTER=""